{% extends 'base.html.twig' %}

{% block title %}Quiz Kaamelott{% endblock %}

{% block body %}
    <div id="game"></div>
{% endblock %}
{% block javaScript %}
    {{ encore_entry_script_tags('informations') }}
{% endblock %}